<div class="Container">
<h1>Sign up</h1>

<div class="Show">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="adminInfo"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="adminInfo"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div class="adminInfo"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

   <div><%= f.submit "Sign up" %></div>
<% end %>
</div>
</div>