<%= form_for(@t_shirt) do |f| %>
  <% if @t_shirt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_shirt.errors.count, "error") %> prohibited this t_shirt from being saved:</h2>

      <ul>
      <% @t_shirt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :t-shirt_id %><br>
    <%= f.number_field :t-shirt_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
