<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @t_shirts.each do |t_shirt| %>
      <tr>
        <td><%= t_shirt.title %></td>
        <td><%= t_shirt.t-shirt_id %></td>
        <td><%= t_shirt.description %></td>
        <td><%= link_to t('show'), t_shirt %></td>
        <td><%= link_to t('edit'), edit_t_shirt_path(t_shirt) %></td>
        <td><%= link_to t'destroy'), t_shirt, method: :delete, data: { confirm: t('sure' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_shirt'), new_t_shirt_path %>
