<%= form_for(@shirt, :html => {:multipart => true }) do |f| %>
  <% if @shirt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shirt.errors.count, "error") %> prohibited this shirt from being saved:</h2>

      <ul>
      <% @shirt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="formContainer">
  <div class="field" id="fName">
    <p><%= f.label :name %></p><br>
    <p><%= f.text_field :name %></p>
  </div>
  <div class="field" id="fDescription">
    <p><%= f.label :description %></p><br>
    <p><%= f.text_area :description %></p>
  </div>
  <div class="field" id="fImage">
    <p><%= f.label :image %></p><br>
    <p><%= f.file_field :image %></p>
  </div>
  <div class="actions" id="fSubmit">
    <p><%= f.submit %></p>
  </div>
  </div>
<% end %>
