<p id="notice"><%= notice %></p>

<div id="showContainer">
  <p id="shirtName">
    <%= @shirt.name %>
  </p>

  <p id="shirtImage">
    <%= image_tag @shirt.image.url(:medium) %>
  </p>

  <p id="shirtDescription">
    <% t('description') %><%= @shirt.description %>
  </p>
</div>

<div id="showButtons">
  <p><%= link_to t('edit'), edit_shirt_path(@shirt) %> | <%= link_to t('back'), shirts_path %></p>
</div>