<p><%= link_to t('hello')%> <%= @resource.email %>!</p>

<p><%= link_to t('link_to_password')%></p>

<p><%= link_to t('unlock_account'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= link_to t('didnt_request')%></p>
<p><%= link_to t('create_new_password')%></p>