<p><%= link_to t('hello')%> <%= @resource.email %>!</p>

<p><%= link_to t('account_locked')%></p>

<p><%= link_to t('link_unlock_account')%></p>

<p><%= link_to t('unlock_account'), unlock_url(@resource, :unlock_token => @token) %></p>