<!DOCTYPE html>
<html>
<head>
  <title>MantraT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="container">
    <div id="header">
      <div id="homeButton" class="noDecoration"><%= link_to t('home'), root_path %></div>
      <div id="logo"></div>
      <div id="admin_nav" class="noDecoration">
        <% if admin_signed_in? %>
          Connected as <%= current_admin.email %>. Not you t&uacute;?
          <%= link_to t('log_off'), destroy_admin_session_path, :method => :delete%>
        <% else %>
          <%= link_to t('sign_up'), new_admin_registration_path %> |
          <%= link_to t('sign_in'), new_admin_session_path %>
        <% end %>
      </div>
      <div id="navbar"></div>
    </div>
    <div id="main"  class="noDecoration">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>
    </div>
    <div id="footer">
	    <p>Copyright@LauraZorrilla2013</p>
    </div>
  </div>
</body>
</html>

